executor {
    name = 'local'
    cpus = 20
//  memory = '150 GB'
//  queueSize = 200
}

//queueSize : The number of tasks the executor will handle in a parallel manner (default: 100).
//cpus : The maximum number of CPUs made available by the underlying system (only used by the local executor).
//memory : The maximum amount of memory made available by the underlying system (only used by the local executor).


timeline {
    enabled = true
    file = 'TIMELINE.html'
}

report {
    enabled = true
    file = 'REPORT.html'
}



